@model IList<ListMVC.Models.Employee>

@{
    ViewBag.Title = "EmpIndex";
}

<h2>Index</h2>

@using (Html.BeginForm("GetEmployeeIndex","Employee"))
{
    @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
   
}
